   .clients__list {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       gap: 30px;
   }
   
   .clients__link.link {
       display: flex;
       width: 210px;
       height: 92px;
       border: 1px solid #AFB1B8;
       border-radius: 4px;
       align-items: center;
       justify-content: center;
       transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       // @include tablet {
       //     width: 226px;
       // }
       @include desktop {
           width: 170px;
       }
       &:hover,
       &:focus {
           border-color: $accent-color;
           fill: $accent-color;
           outline-color: $accent-color;
       }
   }
   
   .clients__icon {
       fill: #AFB1B8;
       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
       .clients__link.link:hover &,
       .clients__link.link:focus & {
           border-color: $accent-color;
           fill: $accent-color;
           outline-color: $accent-color;
       }
   }