    .header {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ECECEC;
        >.container {
            @extend %align-list;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include desktop {
                width: 1200px;
            }
        }
        &__logo {
            margin-right: 93px;
            @include tablet {
                margin-right: 0;
            }
            @include desktop {
                margin-right: 93px;
            }
        }
        @include tablet {
            padding-top: 20px;
            padding-bottom: 20px;
            ;
        }
        @include desktop {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
    
    .nav {
        display: none;
        @include tablet {
            display: flex;
        }
        @include desktop {
            display: flex;
        }
    }
    
    .nav__list {
        @extend %align-list;
        @include tablet {
            gap: 50px;
        }
        @include desktop {
            gap: 0px;
        }
    }
    
    .nav__item {
        margin: 0px;
        @include desktop {
            position: relative;
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }
    
    .nav__link {
        color: $title-text-color;
        font-family: inherit;
        @include font(500, 14px, 1.14, 0.02em);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: $accent-color;
            fill: $accent-color;
        }
        .nav__item.active & {
            color: $accent-color;
        }
        .nav__item.active &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            background: $accent-color;
            border-radius: 2px;
            color: $accent-color;
            left: 0;
            bottom: -32px;
        }
    }
    
    .contact {
        display: none;
        @include tablet {
            display: flex;
            // margin-left: auto;
        }
        @include desktop {
            margin-left: auto;
            &__list {
                display: flex;
            }
        }
        &__item:not(:last-child) {
            @include tablet {
                margin-bottom: 10px;
            }
            @include desktop {
                margin-right: 50px;
            }
        }
        &__link {
            color: $primary-text-color;
            font-family: inherit;
            @include font(500, 14px, 1.14, 0.02em);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                color: $accent-color;
                fill: $accent-color;
            }
            @include tablet {
                display: block;
            }
            @include desktop {
                display: flex;
            }
        }
        &__icon {
            margin-right: 10px;
            vertical-align: middle;
            fill: $primary-text-color;
            .contact__link:hover &,
            .contact__link:focus & {
                color: $accent-color;
                fill: $accent-color;
            }
        }
    }
    
    .mob-menu-btn {
        display: block;
        margin-left: auto;
        border: none;
        background-color: $background-color-white;
        &:hover,
        &:focus {
            color: $accent-color;
        }
        @include tablet {
            display: none;
        }
        @include desktop {
            display: none;
        }
    }
    
    .mob-menu-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: $accent-color;
        }
    }
    
    .mob-close-btn {
        display: block;
        margin-left: auto;
        margin-bottom: 10px;
        border: none;
        background-color: $background-color-white;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
    
    .mob-close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: $accent-color;
        }
    }
    
    .mob-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: $background-color-white;
        width: 100vw;
        height: 100vh;
        padding-top: 10px;
        padding-bottom: 48px;
        padding-left: 40px;
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            overflow-y: auto;
        }
    }
    
    .mob-menu__list {
        margin-bottom: 40px;
    }
    
    .mob-menu__item.active .mob-menu__link {
        color: $accent-color;
    }
    
    .mob-menu__item:not(:last-child) {
        margin-bottom: 35px;
    }
    
    .mob-menu__link {
        @include font(500, 40px, 1.17, 0.02em);
        color: $title-text-color;
    }
    
    .mob-contact {
        margin-bottom: 65px;
        &__item {
            margin-bottom: 30px;
        }
    }
    
    .mob-contact__tel {
        @include font(500, 34px, 1.17, 0.02em);
        color: $accent-color;
    }
    
    .mob-contact__mail {
        @include font(500, 24px, 1.16, 0.02em);
        color: $primary-text-color;
        display: block;
    }
    
    .mob-soc-list {
        display: inline-flex;
        flex-wrap: wrap;
    }
    
    .mob-soc-item:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    
    .mob-soc-item:not(:first-child) {
        padding-left: 10px;
    }
    
    .mob-soc-link {
        @include font(500, 18px, 1.22, 0.02em);
        color: $accent-color;
    }