.btn {
    font-family: inherit;
    cursor: pointer;
    @include font(700, 16px, 1.87, 0.06em);
    @extend %align-list;
    text-align: center;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: auto;
    border: none;
    &--main {
        color: $secondary-text-color;
        background-color: $accent-color;
    }
    &--secondary {
        color: $title-text-color;
        background-color: $background-color-grey;
    }
}