$primary-text-color: #757575;
$title-text-color: #212121;
$secondary-text-color: #FFFFFF;
$background-color-dark: #2F303A;
$background-color-grey: #F5F4FA;
$background-color-white: #FFFFFF;
$accent-color: #2196F3;
$footer-text-color: rgba(255, 255, 255, 0.6);
$primary-font: 'Roboto',
sans-serif;
$second-font:'Raleway';